.form-inline.clearfix
  .nested-fields
    = f.input :avatar, input_html: { class: 'form-control' }
    = f.input :id_copy, input_html: { class: 'form-control' }
    = f.input :id_number, input_html: { class: 'form-input' }